<div page="explore">
  <style scoped part-style>
    .projects {
      margin-bottom: 40px;
    }
    .projects .project {
      margin-bottom: 20px;
    }
    .projects .project a:hover {
      text-decoration: none;
    }

    .users {
      margin-bottom: 40px;
    }
    .users .user {
      margin-bottom: 20px;
    }
    .users .user a:hover {
      text-decoration: none;
    }
  </style>
  <part-navbar></part-navbar>
  <part-jumbotron>
    <div class="container">
      <h1>Explore</h1>
    </div>
  </part-jumbotron>
  <div class="container">
    <h3>Projects</h3>
    <div class="projects">
      <div class="project" ng-repeat="project in projects">
        <a href="/projects/{{ project.id }}">
          <h4>{{ project.title }}</h4>
        </a>
      </div>
    </div>
  </div>
  <div class="container">
    <h3>Users</h3>
    <div class="users">
      <div class="user" ng-repeat="user in users">
        <a href="/@{{ user.username }}">
          <h4>{{ user.displayName }}</h4>
        </a>
      </div>
    </div>
  </div>
  <part-footer></part-footer>
</div>