<div page="event-edit">
  <style scoped part-style>

  </style>
  <part-navbar></part-navbar>
  <part-jumbotron>
    <div class="container">
      <h1>Edit event</h1>
    </div>
  </part-jumbotron>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div>
          <a href="/events/{{ event.id }}">&larr; preview</a>        
        </div>
      </div>
      <div class="col-sm-9">
        <div>
          <h3>General information</h3>
          <form method="post" ng-submit="update()">
            <div class="form-group">
              <label class="control-label">Title</label>
              <input type="text" class="form-control" ng-model="event.title" />
              <div class="help-block text-muted">The name of the event.</div>
            </div>
            <div class="form-group">
              <label class="control-label">Description</label>
              <textarea class="form-control" ng-model="event.description" rows="5"></textarea>
              <div class="help-block text-muted">The description of the event.</div>
            </div>
            <div class="form-group">
              <label class="control-label">Start date time</label>
              <div class="row">
                <div class="col-sm-8">
                  <input type="date" class="form-control" ng-model="event.startDate" />              
                </div>
                <div class="col-sm-4">
                  <input type="time" class="form-control" ng-model="event.startTime" />              
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">End date time</label>
              <div class="row">
                <div class="col-sm-8">
                  <input type="date" class="form-control" ng-model="event.endDate" />              
                </div>
                <div class="col-sm-4">
                  <input type="time" class="form-control" ng-model="event.endTime" />              
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Location</label>
              <input type="text" ng-autocomplete class="form-control" ng-model="event.location" options="options" details="details" />
            </div>
            <div class="form-group">
              <label class="control-label">Status</label>
              <div>
                <select ng-model="event.status">
                  <option value="draft">draft</option>
                  <option value="public">public</option>
                </select>
              </div>
            </div>
            <button class="btn btn-success">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <part-footer></part-footer>
</div>