<div page="dashboard">
  <style scoped re-style>
    .projects {
      margin-bottom: 80px;
    }
    .projects .project {
      margin-bottom: 40px;
    }
    .projects .project a:hover {
      text-decoration: none;
    }

    .events {
      margin-bottom: 80px;
    }
    .events .event {
      margin-bottom: 40px;
    }
    .events .event a:hover {
      text-decoration: none;
    }
  </style>
  <part-navbar></part-navbar>
  <part-jumbotron>
    <div class="container">
      <h1>Dashboard</h1>
    </div>
  </part-jumbotron>
  <div class="container projects">
    <h3>Projects</h3>
    <div>
      <div class="project" ng-repeat="project in projects">
        <a href="/projects/{{ project.id }}">
          <h4>{{ project.title }}</h4>
          <p class="text-mute">{{ project.description | preview }}</p>
        </a>
        <a href="/projects/{{ project.id }}/edit" class="btn btn-xs btn-default">edit project</a>
      </div>
      <div class="alert alert-warning" ng-show="!projects.length">
        <p>No project yet.</p>
      </div>
    </div>
    <button class="btn btn-primary btn-sm" ng-click="createProject()">create a new project</button>
  </div>
  <div class="container events">
    <h3>Events</h3>
    <div>
      <div class="event" ng-repeat="event in events">
        <a href="/events/{{ event.id }}">
          <h4>{{ event.title }}</h4>
          <p class="text-mute">{{ event.description | preview }}</p>
        </a>
        <a href="/events/{{ event.id }}/edit" class="btn btn-xs btn-default">edit event</a>
      </div>
      <div class="alert alert-warning" ng-show="!project.length">
        <p>No event yet.</p>
      </div>
    </div>
    <button class="btn btn-primary btn-sm" ng-click="createEvent()">create a new event</button>
  </div>
  <part-footer></part-footer>
</div>