<div page="project-edit">
  <style scoped part-style>

  </style>
  <part-navbar></part-navbar>
  <part-jumbotron>
    <div class="container">
      <h1>Edit project</h1>
    </div>
  </part-jumbotron>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div>
          <a href="/projects/{{ project.id }}">&larr; preview</a>        
        </div>
      </div>
      <div class="col-sm-9">
        <div>
          <h3>General information</h3>
          <form method="post" ng-submit="updateProject()">
            <div class="form-group">
              <label class="control-label">Title</label>
              <input type="text" class="form-control" ng-model="project.name" />
              <div class="help-block text-muted">The name of the project.</div>
            </div>
            <div class="form-group">
              <label class="control-label">Description</label>
              <textarea class="form-control" ng-model="project.description" rows="5"></textarea>
              <div class="help-block text-muted">The description of the project.</div>
            </div>
            <button class="btn btn-success">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <part-footer></part-footer>
</div>